# User and group ID for file permissions
PUID=3000
PGID=3000

# Timezone
TZ=Europe/Berlin

# Paths
BACKUPS_PATH=./backups
SOURCE_PATH=.
SOURCE2_PATH=.
SOURCE3_PATH=.

# Traefik
DOMAIN=duplicati.srv.kllnr.de
TRAEFIK_SERVICES_TLS_CONFIG=tls.certresolver=dns_certresolver
